doctype html
html
  head
    link(rel="stylesheet", href="/css/index.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Wong Po Wah Sewing Machine Ltd.
  body
    header
      h1.title wpw

    .main-content
      block content
